body {
  margin: 0;
  padding: 15px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555555;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;

  text-align: center;
}

.brand {
  max-width: 40em;
  font-family: 'Bungee Shade';
  font-size: 32px;

  margin: .5em 0;
}

@media (min-width: 37.5em) {
  .brand {
    font-size: 54px;
  }
}

.action {
  color: #8C489F;
  font-weight: bold;
}

.frequency {
  color: orange;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
  color: #afafaf;
  text-align: justify;
}

.description p + p {
  padding-top: 0;
}

.description p ul {
  list-style: none;
  padding: 0;
}

.description p ul li + li {
  margin-top: .5em;
}

.footer {
  color: #efefef;
  background-color: #555555;
  text-align: left;
}

.footer a {
  color: orange;
}

.footer a:visited {
  color: inherit;
}

.description p,
.footer p {
  max-width: 30em;
  margin: 0 auto;

  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-style: italic;

  line-height: 1.6em;
  padding: 0.5em 2.5em;
}

@media (min-width: 37.5em) {
  .description p,
  .footer p {
    padding: 0.5em 1.5em;
  }
}

