body {
  margin: 0;
  padding: 15px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555555;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;

  text-align: center;
}

.brand {
  max-width: 40em;
  font-family: 'Bungee Shade';
  font-size: 34px;

  margin: 0;
}

@media (min-width: 37.5em) {
  .brand {
    font-size: 54px;
  }
}

.description p, .footer p {
  max-width: 30em;
  margin: 0 auto;

  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  font-style: italic;

  padding: 1.5em;
  line-height: 1.6em;
}

.description {
  margin-bottom: 10px;
  color: #afafaf;
  text-align: justify;
}

.footer {
  color: #efefef;
  background-color: #70c8fb;
  text-align: left;
}
