.Calendar {
  /* display: inline-block; */
  /* margin-left: .5em; */
  /* margin-right: .5em; */
  /* width: 450px; */
}

.Calendar h2.title {
  margin: 3em 0 .5em;

  font-family: 'Roboto Slab';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: normal;
}

.Calendar h3.description {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: #afafaf;
  font-style: italic;
}

.Calendar table {
  margin: auto;
  line-height: 0;
  table-layout: fixed;
  border-spacing: 0px;
}

.Calendar table td {
  padding: 0;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.Calendar table td span {
  border-radius: .5em;
}

.Calendar table td.goal-100 {
  background-color: #afafaf;
}

.Calendar table td.goal-100.first {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.Calendar table td.goal-100.last {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

.Calendar table td span {
  margin: .375em;
  width: .25em;
  height: .25em;
  display: inline-block;
  background-color: #efefef;
}

.Calendar table td.goal-100 span {
  background-color: #cccccc;
}

.Calendar table td span.yeah {
  margin: .3125em;
  width: .375em;
  height: .375em;
  background-color: #555555;
}

.Calendar table td span.today {
  background-color: #70c8fb;
}

.Calendar table td.goal-100 span.today {
  background-color: #83dbff;
}
